<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Expense-tracker</title>
</head>
<style>
    .main{
        width: 100%;
        height: 619px;
        background-color:rgb(141, 133, 133);
}
.main2{
    width: 70%;
    height:500px ;
    /* margin-top: 30px;
    margin-left: 20px; */
    background-color:#82c7b2;
    box-shadow:5px 28px 25px rgba(0,0,0,0.5);
}

.row2{
    width: 98%;
    height: 310px;
    background-color: #e4e0dc;  
    margin-left: 10px;
  
}

</style>
<body>
    <div class="container-fluid main d-flex align-items-center">
        
        <div class="container main2">
            <div class="my-3"><center><h1>Expense-Tracker</h1></center></div>
            <div class="container ">
            <form action="" method="post" onsubmit="expensedata(event)">

                <div class="row ms-4">
                    <div class="col-3">
                        <label for="amount">Choose ExpenseAmount</label>
                        <input type="text" name="amount" id="amount" placeholder=" Enter amount" class="form-control"><br>
                    </div>
                    <div class="col-3">
                        <label for="desc">Description</label>
                        <input type="text" name="description" id="description" placeholder=" Enter Description" class="form-control"><br>
                    </div>
                    <div class="col-3">
                        <label for="category">Category</label>
                        <select class="form-select" id="category" name="category">
                            <option selected>choose a category</option>
                            <option value="Skincare">Skincare</option>
                            <option value="Grocery">Grocery</option>
                            <option value="Eletronics">Elctronics</option>
                          </select>
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-secondary mt-4">AddExpense</button>
                    </div>
                </div>
            </form>
        </div>
        
            <div class="row  row2">
                <div class="col-6  border-3 border-secondary border-end">
                    <div class="row">
                        <div class=" col-6  mt-2 d-flex justify-content-lg-start">
                            <button id="rzp-button" class="btn btn-outline-secondary">Buy Premium</button>
                            
                        </div>
                        <div class="col-6 mt-2 d-flex justify-content-end">
                            <button type="submit" class="btn btn-outline-secondary" id="premiumbtn">Show Report</button>
                        </div>
                    </div>
                <div>
                    <ul id="list">
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12 pe-3 mt-2  d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-secondary">LeaderBorad</button>
                    </div>
                </div>

            </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
      
       async function expensedata(event){
            event.preventDefault()
            const amount=document.getElementById('amount').value
            const description=document.getElementById('description').value
            const category=document.getElementById('category').value
            console.log('hello')

            const obj={
                amount,description,category
            }
            console.log('hello',obj)
            try{
                const token=localStorage.getItem('token')
                const res=await axios.post('http://localhost:3050/expense',obj,{headers:{"Authorization":token}})
                console.log("success",res.data)
                
            }
            catch(error){
                console.log('failed',error)

            }
         
            // console.log(obj)
            // localStorage.setItem(obj.description,JSON.stringify(obj))
        }
        // window.addEventListener("DOMContentLoaded",()=>{
               
        //      userDetails()
        // })
        
         async function userDetails(){
            try{
                const parentElement=document.getElementById("list")
               
                const token=localStorage.getItem('token')
                const res=await axios.get('http://localhost:3050/expense',{headers:{"Authorization":token}})
                const data=res.data.allexpensedata
                data.forEach(obj => {
                    const childElement=document.createElement('li')
                    console.log("this is my res data>>>>>>>",res.data.allexpensedata)
                     console.log(obj)
                     childElement.textContent=`${obj.amount},${obj.description},${obj.category}`
                     parentElement.appendChild(childElement)

                     //delt buttn
                     const delt=document.createElement('input')
                     delt.type="button"
                     delt.value="delete"
                     delt.className="btn btn-outline-primary my-3"
                     childElement.appendChild(delt)
                     delt.onclick=async()=>{
                        try{
                            const token=localStorage.getItem('token')
                        const delt=await axios.delete(`http://localhost:3050/expense/${obj.id}`,{headers:{"Authorization":token}})
                        console.log("deleted data",delt)
                        }catch(err){
                            console.log(err)  
                        }
                        console.log(obj.id)
                        parentElement.removeChild(childElement)

                     }
                    
                  });

               }
                 catch(error){ 
                console.log('deleted',error)
                 }
            
         }
         userDetails()
         document.getElementById('rzp-button').onclick=async function (e){
        const token=localStorage.getItem('token')
        const response=await axios.get('http://localhost:3050/purchase/premiummembership',{headers:{"Authorization":token}})
        console.log(response)
        var options={
        "key":"rzp_test_RQYrE6oSsSKGEE",//enter the key id generated from dashboard
        "order_id":response.data.order.id,//for one time payment
        //handler fn will handle the success payment
        "handler":async function(response){
            await axios.post('http://localhost:3050/purchase/updatetransactionstatus',{
            order_id:options.order_id,
            payment_id:response.razorpay_payment_id,
            },{headers:{"Authorization":token}})
        
        alert('You are a Premium user now')
        },
    }
    const rzp1=new Razorpay(options);
    rzp1.open();
    e.preventDefault();
    rzp1.on('paymentfailed',function (response){
        console.log(response)
        alert('something went wrong')
    });    
}
   </script>
</body>
</html>